@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.containerStyle label {
  width: 80px;
  text-align: left;
}

.containerStyle {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 350px;       /* 全体の幅を少し広めに */
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}

.eye-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  width: 24px;
  display: flex;
  align-items: center;
}

.inputStyle {
  padding: 5px;
  flex: 1;
  border: 1px solid black;
  border-radius: 5px;
}

.login-button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1px 5px ;
}

